.Body{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #F9F2ED;
    color: black;
}


.Body-button{
    margin: 50px;
}

.Body-links-header{
    margin: 0 50px;
}

.Body-links-header p{
    margin-left: 10px;
}
.Body-addLink a{
    color: black
}

@media screen and (max-width: 520px) {

}