.buttonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 5px;
    border:2px solid rgba(203, 200, 200, 0.35);
}
.button{
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.button button{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 0;
    font-family: poppins;
    color: black;
    border: none;
    background-color: transparent;
    transition: background-color 1s;
}
.buttonHeader{
    display: flex;
    margin: 5px;
}
.buttonHeader p{
    margin: 0 10px;
    font-weight: bold;
}

.buttonHeader img{
    width: 96px;
    height: 96px;
}
.buttonFooter{
 display: flex;   
 align-items: center;
 justify-content: space-between;
 border-top: 2px dashed rgba(203, 200, 200, 0.35);
 width: 100%;
}

.buttonActions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.delete, .edit, .openInNew, .Switch{
    margin: 10px 5px;
    color: #4473a2;
}

.linkType{
    margin: 10px;
}

.CouponCriteria{
    margin-top: 10px;
}

.CouponCriteria p{
    font-weight: unset;
}

@media screen and (max-width: 480px) {
    .button button{
        width: 300px;
    }
}