.CollectionPage{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CollectionPage_name{
    box-sizing: border-box;
    width: 350px;
    height: 48px;
    overflow: visible;
    border-radius: 4px;
    border: 2px solid var(--Card_grey, rgba(13, 13, 13, 0.35));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.CollectionPage_name p{
    width: auto; /* 124px */
  height: auto; /* 19px */
  white-space: pre;
  font-family: "Inter", sans-serif;
  color: var(--Light_Grey, #8f9499);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.CollectionPage_body{
    margin-top: 40px;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
}

.CollectionPage_body p{
    width: auto; /* 124px */
    height: auto; /* 19px */
    font-weight: 500;
    font-size: 14px;
}