.navbar{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 0;
    color: white;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-logo p{
    margin: 10px;
    font-weight: bold;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
@media screen and (max-widht : 520px) {
    .navbar{
        padding: 15px;
    }
    .logout{
      margin-right:70px;
    }
}